*{
    box-sizing: border-box;
}
html {
    font-size: 62.5%;

}
:root{
    --primary-color:#FF5B2E;
}
h1, h2, h3, h4, h5, h6 {
    font-family: "Sora", sans-serif;
}
body {
    font-size: 1.6rem;
    font-family: "Poppins", sans-serif;
    background: rgb(255, 250 ,245);
}
input, textarea, select, button {
    font-family: inherit;
    font-size: inherit;
} 
/* Dung chung */
.container {
   width: 1170px;
   max-width: calc(100% - 48px);
   margin: 0 auto;
}
a {
    text-decoration: none;
    color: inherit;
}
.btn {
    --height: 56px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    min-width: 130px;
    height: var(--height);
    line-height: var(--height);
    border-radius: 9999px;
    border: 1px solid rgba(0 , 9,88,0.7);
    color: #000958;
    text-align: center;
    font-size: 1.4rem;
    font-weight: 600;


}
.btn__icon{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin-left: 10px;
    background: #fff;
}
.btn:hover{
    opacity: 0.8;
    cursor: pointer;
}
.btn--primary {
    background:var(--primary-color);
    color: #fff;
    border:var(--primary-color);
}
/* Header */
.header {
    padding: 26px 0;
}
.header__inner{
     display: flex;
     justify-content: space-between;
     align-items: center;
}

.navbar__list {
    display: flex;
}
.navbar__link, .header-action__link {
    padding: 8px 18px;
    color: #5E6085;
    font-size: 1.4rem;
    font-weight: 500;
    
    line-height: 1; /* 100% */
}
.navbar__link:hover {
    text-shadow: 1px 0 0 currentColor;
    color: #000958;
}
.header-action__btn {
    --height:50px;
    min-width: 118px;
}
/* Hero */
.hero {
    margin-top: 74px;
}
.hero__inner {
     display: flex;
     justify-content: space-between;
      align-items: center;
      column-gap: 120px;/*cach cot*/
}
.hero__media{
    display: flex;
    position: relative;
    padding-bottom: 94px;
}
.hero__img-wrap{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    border-radius: 16px;
    background: #FE997B;
    width: 388px;
    height: 488px;
    border: 3px solid #fff;
}
/* Neu ma anh nho hon hoac lon hon thi cung chuyen ve cung kich thuoc */
.hero__img {
   max-width: 100%;
   max-height: 100%;
   border-radius: inherit;
}
.hero__decorators{
    position: absolute;
    z-index: -1;
}
.hero__decorators-left {
    left: -58px;
    bottom: 10px;
}
.hero__decorators-right{
    top:16px;
    right: -43px;
}
.hero__img-wrap-small {
  align-self: flex-end;  /*Dung de can rieng 1 item*/
  width: 186px;
  height: 244px;
  background: #FAA7AD;
  margin:0 0 -58px -24px;
  border: 2px solid #f7dddf;
}
.hero__list {
    position: absolute;
    left: 129px;
    bottom: 0;
    width: 250px;
    height: 156px;
    padding: 18px 14px;
    border-radius: 10px;
    background: #FFF;
    box-shadow: -17px 14px 68px -4px rgba(207, 174, 132, 0.25);
}
.hero-list-item{
    display: flex;
}
.hero-list-item__thumb{
    width: 40px;
    height: 40px;
    border-radius: 10px;
    object-fit: cover;
    background: rgba(254, 194, 63, 1);
}
.hero-list-item__info {
    margin-left: 10px;
}
.hero-list-item__title {
    color: #181E52;
    font-family: Sora,sans-serif;
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 1; 
}
.hero-list-item__skeleton {
    margin-top: 6px;
    width: var(--width,118px);
    height: 4px;
    border-radius: 10px;
    opacity: 0.08;
    background: #000958;
}
.hero-list-item__separate {
    display: block;
    width:100%;
    height: 2px;
    border-radius: 99px;
    background: #F2F2F2;
    margin: 20px 0;
}
.hero-list-item:nth-child(2) .hero-list-item__thumb {
    background: #6597C2;
}
.hero__heading {
    color: #000958;
    font-family: Sora,sans-serif;
    font-size: 6.6rem;
    font-weight: 800;
    line-height: 1.15; /* 115.152% */
    
}
.hero__desc {
    margin-top: 24px;
    color: #656689;
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.87; /* 187.5% */
    width: 391px;
}
.hero__row {
    display: flex;
    align-items: center;
    margin-top: 38px;
}
.hero__cta-btn {
    min-width: 190px;
    --height:60px;
    font-size: 1.6rem;
    box-shadow: 0px 13px 26px -8px rgba(255, 91, 46, 0.42);
}
.hero__cta-link {
    margin-left: 24px;
    color: #000958;
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 1; /* 100% */
    text-decoration: underline;
}